* {
    margin: 0;
    padding: 0;
}


/*-----------------header //banner or logo//--------------------------*/

.logo,
#article,
.gallery-icons,
footer {
    padding-left: 13%;
    padding-right:2%;
    display: flex;
}

.logo {
    background-color: rgb(248, 249, 252);
    border-bottom: 2px solid rgb(243, 238, 238);
    height: 10em;
    flex-direction: column;
    justify-content: center;
}

.logo h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
}

.logo p {
    color: rgba(22, 2, 2, 0.712);
    opacity: 0.8;
    /* transperancy of element*/
    font-size: 1.1em;
}


/*-----------nav bar--------*/

nav#top-nav ul {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 0;
    padding-top: 1.5em;
    padding-left: 13%;
    padding-bottom: 1em;
    height: 2em;
}

nav#top-nav ul li {
    display: block;
    padding-right: 2em;
    align-content: center;
}

nav#top-nav ul li a {
    color: rgb(31, 30, 30);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav#top-nav ul li a:hover,
nav#top-nav ul li a.active {
    color: rgb(163, 159, 159);
}


/*image*/

.banner img {
    width: 100%;
    padding: 2 auto 2.4em auto;
}


/*artice with asides*/

#article {
    flex: 2 1 420px;
    justify-content: space-between;
    margin-top: 50px;
}

.content h3 {
    font-size: 1.6em;
}

article,
.logos {
    width: 60%;
    padding: 10px;
    margin-left: 5.2em;
}

.aside {
    width: 25%;
    padding: 10px 15px 20px 0;
}

.aside {
    flex: 1 1 215px;
    font-size: 1em;
    line-height: 1.3em;
}

.aside h3 {
    font-size: 14;
    font-weight: bold;
}

.aside p {
    margin-top: 10px;
}

.aside p,
.content p {
    color: gray;
}

.content p {
    padding-right: 6.2em;
}

h3~p {
    padding: 10px 0;
}

.gallery-icons {
    margin-top: 50px;
    min-height: 750px;
    justify-content: space-between;
}

.logos h3 {
    font-weight: bold;
    font-size: 1.8em;
}

.logos img {
    display: inline-block;
    margin: .2em 2.5rem 1em 0em;
    width: 120px;
    height: 150px;
    line-height: 2px;
}


/*----------end------------*/


/*footer*/

footer {
    background-color: #6735CD;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 3em 0 6em 5em;
}

footer .column {
    flex: 1 1 200px;
    padding: 1em;
}

footer .column a {
    color:#f2f2f2;
    text-decoration: none;
}

.column.archive,
.column.nav {
    font-weight: bold;
}

.archive p,
.nav li {
    border-bottom: 1px solid #6F45C5;
    padding: 0.8em 0;
    max-width: 200px; /*same as flex-baseline*/
}

.archive p:first-of-type {
    padding: 0 0 0.8em;
}

.nav li > ul > li {
    border-bottom: none;
    border-top: 1px solid #6F45C5;
    padding: 0.8em 0 0;
    margin: 0.8em 0 0 1em;
}


/* Responsive for mobile screens(header/banner) */

@media all and (max-width:650px) {
    *,
    #top-nav ul,
    #article,
    .gallery-icons,
    footer {
        flex-direction: column;
    }
    .logo,
    #article,
    .gallery-icons,
    footer {
        padding-left: 5%;
        padding-right: 2%;
    }
    /*media querie for logo or title*/
    .logo {
        height: 7em;
        width:100%;
        padding-right:0px;
        margin-right:0px
    }
    .logo h1 {
        font-size: 3.5vw;
        /*view port width 1vw=1%of viewport width*/
    }
    .logo p {
        font-size: 2vw
           
    }
    /*media querie for navigation bar*/
    nav#top-nav ul li {
        justify-content: center;
    }
    #top-nav {
        height: 7em;
    }
    /*media querie for article with aside and image gallery*/
    .aside,
    .content,
    .logos {
        width: 100%;
    }
    article {
        margin-left: 0;
    }
    .logos {
        margin: 0;
        padding-top: 0;
    }
    .logos img {
       margin: .2em 2.5rem 1em 0em;
    }
    /*media querie for footer*/
    footer .column:nth-child(2) {
        flex-basis: 250px;
    }
    footer .column:nth-child(3) {
        flex-basis: 300px;
    }
}

s
